<!DOCTYPE html>
{% extends "base.html" %}
{% load allauth %}
{% load socialaccount %}
{% load static %}
{% load i18n %}
{% load allauth account %}

<html lang="en">
	<head>
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/login-styles.css' %}">
	</head>

{% block content %}
<body>

<div class="content">
	<div class="container p-4 text-center">
		<h1> Lost and Found </h1>
	</div>
	
	<div class="create-account-container">
		<div class="create-header">
			<h3>Sign in</h3>
			<p> Enter your email to sign up for this app</p>
		</div>
		<a href="{% url 'account_login' %}">
			<button class="btn btn-black">Sign in</button>
		</a>

		<hr/>

		<p class="grey"> or continue with Google </p>

		<a href="{% provider_login_url 'google' %}">
			<button class="btn btn-white google">
				<div class="google-logo">
					<img src="https://lostandfound-bkt-0.s3.amazonaws.com/srcImage/GoogleLogo.png" alt="Button Image">
				</div>
				<span>Google</span>
			</button>
		</a>

	</div>

	<div class="login-container"> 
		<h4>Already have an account?</h4>
		<div class="btn-container">
			<div class="btn-wrapper">
				<a href="{% url 'account_signup' %}">
					<button class="btn btn-black">Sign in</button>
				</a>
			</div>
			<div class="btn-wrapper">
				<button class="btn btn-white">Sign in as Admin</button>
			</div>
		</div>
	</div>
</div>
	{% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}


</body>
{% endblock %}
</html>