<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<head>
    <title>Item Reported Successfully!</title>
</head>

    <body>
    <div class="m-3" style="text-align:center">
        <p> Successfully submitted a report! </p>
        <a class="btn btn-black" href="{% url 'index' %}" role="button">Home</a>
    </div>

    <div class="m-3" style="text-align:center">
        <p> Submit another? </p>
        {% if user.is_authenticated %}
            <a class="btn btn-black" href="{% url 'items:report_lost' %}" role="button">Lost</a>
        {% endif %}
        <a class="btn btn-white" href="{% url 'items:report_found' %}" role="button">Found</a>
    </div>
    </body>
{% endblock %}