<!-- Modal -->
<div class="modal fade" id="resolutionModal" tabindex="-1" role="dialog" aria-labelledby="resolutionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resolutionModalLabel">Resolution Message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if item.resolve_text|length > 0 %}
                    <p>{{ item.resolve_text }}</p>
                {% else %}
                    <p>The admin did not leave a message for this post's resolution.</p>
                {% endif %}
                
            </div>
        </div>
    </div>
</div>